.container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
    font-weight: 600;
   
    margin-right: 25%;
    margin-left: 25%;
    
}
.body{
    width: 100%;
    color:white;
    background-color: #262a2e;
}